html {
    font-size: 18px;
}
a {
    text-decoration: none;
}
a:focus {
    outline: none;
}
a:hover {
    text-decoration: underline;
}
nav a {
    margin-right: 2rem;
}
#main-content img {
    border-radius: .2rem;
}
.top {
    cursor: pointer;
}
/* removes trailing underline on touchscreen */
@media (hover: none) {
    a:hover {
        text-decoration: none;
    }
}
/* adjust margin according to smaller screen sizes */
@media (max-width: 500px) {
    nav a {
        margin-right: 1.5rem;
    }
}
@media (max-width: 455px) {
    nav a {
        margin-right: .4rem;
    }
}