html {
    font-size: 18px;
}
a {
    color: #8fbcbb;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    outline: none;
}
ul.no-style-list,
ul.no-style-list li {
    padding: 0;
    list-style: none;
}
nav a {
    margin-right: min(2vw, 1rem);
}
#main-content img {
    border-radius: .2rem;
}
.top {
    cursor: pointer;
}
.badge-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: .5rem;
}
.badge-container img {
    box-sizing: border-box;
    height: 20px;
}
.badge-container .classic-badge{
    height: 31px;
}
.list-div {
    padding: 0;
    display: flex;
    gap: .4rem;
}

/* removes trailing underline on touchscreen */
/* note: on touchscreen devices, hover = focus */
@media (hover: none) {
    a:hover {
        text-decoration: none;
    }
}