html {
    font-size: 18px;
}
a {
    text-decoration: none;
}
a:focus {
    outline: none;
}
a:hover {
    text-decoration: underline;
}
nav a {
    margin-right: .5rem;
}
#main-content img {
    border-radius: .2rem;
}